<!-- -->
<launch>

  <arg name="role_name" default="ego_vehicle" />
  <arg name="path_length" default="50.0" />
  <arg name="planner_activate" default='true'/>
  <arg name="planning_method" default='EM'/>
  <arg name="use_discrete_smooth" default='true'/>
  <arg name="bo_test_" default='true'/>

  <node pkg="planning" type="planning" name="planning" output="screen">
    <param name="role_name" type="string" value="$(arg role_name)" />
    <param name="path_length" type="double" value="$(arg path_length)" />
    <rosparam command="load" file="$(find planning)/config/lattice_planner.yaml"/>
    <rosparam command="load" file="$(find planning)/config/reference_line.yaml"/>
    <rosparam command="load" file="$(find planning)/config/em_planner.yaml"/>
    <param name="planning_method" value="$(arg planning_method)" />
    <param name="planner_activate" type="bool" value="$(arg planner_activate)" />
    <param name="use_discrete_smooth" type="bool" value="$(arg use_discrete_smooth)" />
    <param name="bo_test_" type="bool" value="$(arg bo_test_)" />
  </node>

  <node pkg="planning" type="cruise_speed_pub" name="cruise_speed_pub" output="screen"/>

</launch>
